Makefile.in
/gtest/Makefile
/gtest/scripts/test/Makefile
/gtest/make/Makefile
/more_tests/Makefile
/Makefile
/src/Makefile
/examples/Makefile
*.la
*.lo
*.o
.libs
.deps
/config.guess
/config.h.in
/config.h
/config.log
/config.status
/config.sub
/configure
/depcomp
/libtool
/install-sh
/ltmain.sh
/aclocal.m4
/autom4te.cache
/gtest
/m4
/missing
/stamp-h1
/protobuf.pc
/protobuf-lite.pc
/src/protoc
/src/unittest_proto_middleman
/src/google/protobuf/unittest.pb.cc
/src/google/protobuf/unittest.pb.h
/src/google/protobuf/unittest_custom_options.pb.cc
/src/google/protobuf/unittest_custom_options.pb.h
/src/google/protobuf/unittest_embed_optimize_for.pb.cc
/src/google/protobuf/unittest_embed_optimize_for.pb.h
/src/google/protobuf/unittest_empty.pb.cc
/src/google/protobuf/unittest_empty.pb.h
/src/google/protobuf/unittest_import.pb.cc
/src/google/protobuf/unittest_import.pb.h
/src/google/protobuf/unittest_import_lite.pb.cc
/src/google/protobuf/unittest_import_lite.pb.h
/src/google/protobuf/unittest_lite.pb.cc
/src/google/protobuf/unittest_lite.pb.h
/src/google/protobuf/unittest_lite_imports_nonlite.pb.cc
/src/google/protobuf/unittest_lite_imports_nonlite.pb.h
/src/google/protobuf/unittest_mset.pb.cc
/src/google/protobuf/unittest_mset.pb.h
/src/google/protobuf/unittest_no_generic_services.pb.cc
/src/google/protobuf/unittest_no_generic_services.pb.h
/src/google/protobuf/unittest_optimize_for.pb.cc
/src/google/protobuf/unittest_optimize_for.pb.h
/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.cc
/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.h
*.class
/java/src/main/java/com/google/protobuf/DescriptorProtos.java
/java/protobuf.jar
*.pyc
/python/google/protobuf/compiler/
/python/google/protobuf/descriptor_pb2.py
/python/google/protobuf/internal/more_extensions_pb2.py
/python/google/protobuf/internal/more_messages_pb2.py
/python/google/protobuf/unittest_custom_options_pb2.py
/python/google/protobuf/unittest_import_pb2.py
/python/google/protobuf/unittest_mset_pb2.py
/python/google/protobuf/unittest_no_generic_services_pb2.py
/python/google/protobuf/unittest_pb2.py
/python/protobuf.egg-info/
/python/build/
/python/dist/
/benchmarks/jtmp/
/benchmarks/pytmp/
/benchmarks/cctmp/
